// ==========================================================================
// # Meda Breakpoints
// ==========================================================================
//
// Usage: @include media-query(value) {};
//

$main-breakpoints: (
    xx-small: 320,
    x-small: 480,
	small: 544px,
	medium: 768px,
	large: 992px,
	x-large: 1200px
);